<div class="child">
<h2>
  <%=@email.object%>
</h2> 
<p>
  <%=@email.body%>
</p>

  <div id= "read-unread">
  <div id = "read-button" class="btn btn-secondary">
  <%= button_to "Marquer comme non-lu", email_path(@email.id), method:"put", remote: true,  class:"btn btn-primary btn-sm" %>
  </div>
  </div> 

</div>
