  <li id="email-<%= email.id %>">
       <%= link_to "#{email.object}", email_path(email.id), remote: true %>
       - <%= link_to "Supprimer", email_path(email.id), method:"delete", remote: true %></li>
