<div class="card" style="margin: 3%">
  <img class="card-img-top" src="/images/pathToYourImage.png" alt="Email">
  <div class="card-body">
    <h4 class="card-title"><%=@email.object%></h4>
    <p class="card-text">
      <%=@email.body%>
    </p>
    <a href="emails_path" class="btn btn-primary">Retour</a>
  </div>
</div>
